<extend name="Public/base" />
<block name="main">
  <script type="text/javascript" src="__PUBLIC__/Home/js/064188.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/064188.css?ver=1.0" /> 
   <div id="layout_1493877921834" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
   <div class="view_contents"> 
    <div id="image_style_01_1493877921838" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="image" class="view_contents"> 
      <div class="imgStyle CompatibleImg"> 
       <a href="javascript:;" target=""> <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/news_banner.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/news_banner.jpg" title="" alt="描述" id="imageModeShow" /> </a> 
      </div> 
      <!-- 新加的js  --> 
     </div> 
    </div> 
    <div id="div_includeBlock_1493877921856" class="view includeBlock div  none includeView" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="div" class="view_contents"> 
      <div id="text_style_02_1493877922137" class="view style_02 text  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
       <div names="text" class="view_contents">
         新闻资讯 
       </div> 
      </div> 
      <div id="homelink_style_01_1493877922152" class="view style_01 homelink  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
       <div names="homelink" class="view_contents"> 
        <ol class="breadcrumb location_style01"> 
         <li> <a class="textSet" href="../index.htm" tppabs="http://demo.nicebox.cn/" onclick=""> 首页</a> </li> 
         <li class="active textSet">新闻资讯 </li> 
        </ol>
        <script>
        $(document).ready(function(){  
      	  $('.news').addClass('hot');  
        }); 
        
        $(function(){
				var viewid="homelink_style_01_1493877922152";
				var sys_url="viewid=homelink_style_01_1493877922152&name=homelink&style=style_01&langid=0&pageid=64188&viewCtrl=default&isfb=1";
				var moreParams='';
				if(typeof(history.pushState) != 'undefined'){
					var hstate=JSON.stringify(history.state);
					if(hstate!='null'&& hstate!=null){
						eval('var hjson = ' + hstate);
						moreParams=hjson.moreParamshomelink_style_01_1493877922152;
					}
				}
				RequestURL(viewid,sys_url,moreParams);
			})
		</script> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="layout_1493798264986" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
   <div class="view_contents"> 
    <div id="text_style_02_1493798264989" class="view style_02 text  none lockHeightView" data-wow-duration="1.2s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="text" class="view_contents">
       热点动态 
     </div> 
    </div> 
    <div id="image_style_01_1493798265003" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="image" class="view_contents"> 
      <div class="imgStyle CompatibleImg"> 
       <a href="javascript:;" target=""> <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /> </a> 
      </div> 
      <!-- 新加的js  --> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="layout_1493207561021" class="layout " data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
   <div class="view_contents"> 
    <div id="newsList_style_09_1493207592164" class="view style_09 newsList  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="newsList" class="view_contents"> 
      <!--新闻列表区域--> 
      <div class="boxNewsListStyle_9"> 
       <ul id="boxNewsList"> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_9.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_9.jpg" /> 
          <div class="zTm" style="margin-top:67%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle "> 
           <div class="newName"> 
            <a class="titleSet" href="news_details_51376.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51376.html" target="_self">婚礼风向标【沈佳宜柯景腾婚礼】</a> 
           </div> 
           <div class="newB"> 
           </div> 
          </div> 
          <div class="newDetail detailSet pc">
           摩拜单车管理层介绍，过去一年间，以摩拜单车为代表的智能共享单车快速成长，使城市自行车出行占比从5.5%翻番至11.6%，成为继公交地铁、出租车之后的第三大城市出行方式。
          </div> 
          <div class="newDetail detailSet pad">
           摩拜单车管理层介绍，过去一年间，以摩拜单车为代表的智能共享单车快速成长，使城市自行车出行占比从5.5...
          </div> 
          <div class="newDetail detailSet mobile">
           摩拜单车管理层介绍，过去一年间，以摩拜单车为代表的智能共享单车快速成长，使城市自行车出行占...
          </div> 
         </div> 
         <div class="clear"></div> </li> 
       </ul> 
      </div> 
      <!--新闻列表区域 结束---> 
     </div> 
    </div> 
    <div id="newsList_style_04_1493208361714" class="view style_04 newsList  none lockHeightView" data-wow-duration="1.5s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="newsList" class="view_contents"> 
      <!--新闻列表区域--> 
      <div class="boxNewsListStyle_4"> 
       <ul id="boxNewsList"> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51367.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51367.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_12.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_12.jpg" /></a> 
          <div class="zTm" style="margin-top:100%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
          </div> 
          <div class="newB"> 
          </div> 
         </div> </li> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51372.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51372.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/newsimg/201705/news_11.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/newsimg/201705/news_11.jpg" /></a> 
          <div class="zTm" style="margin-top:100%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
          </div> 
          <div class="newB"> 
          </div> 
         </div> </li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="layout_1493802993561" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
   <div class="view_contents"> 
    <div id="text_style_02_1493802993568" class="view style_02 text  none lockHeightView" data-wow-duration="1.2s" data-wow-delay="0.5s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="text" class="view_contents">
       新闻资讯 
     </div> 
    </div> 
    <div id="image_style_01_1493802993583" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="image" class="view_contents"> 
      <div class="imgStyle CompatibleImg"> 
       <a href="javascript:;" target=""> <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /> </a> 
      </div> 
      <!-- 新加的js  --> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="layout_1493803650140" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
   <div class="view_contents"> 
    <div id="newsKind_style_02_1493803690414" class="view style_02 newsKind  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="newsKind" class="view_contents"> 
      <script></script>
      <div class="newscateStyle_2"> 
       <ul class="oneBgSet"> 
        <li class="oneSet"><a href="news.html-gid=14391.htm" tppabs="http://demo.nicebox.cn/7543019a292ad748/news.html?gid=14391" target="">行业动态</a></li> 
        <li class="oneSet"><a href="news.html-gid=14389.htm" tppabs="http://demo.nicebox.cn/7543019a292ad748/news.html?gid=14389" target="">热点新闻</a></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="layout_1493207783765" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
   <div class="view_contents"> 
    <div id="newsList_style_04_1493802648746" class="view style_04 newsList  none lockHeightView" data-wow-duration="1.2s" data-wow-delay="0.6s" data-wow-offset="0" data-wow-iteration="1"> 
     <div names="newsList" class="view_contents"> 
      <!--新闻列表区域--> 
      <div class="boxNewsListStyle_4"> 
       <ul id="boxNewsList"> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51378.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51378.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_1.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_1.jpg" /></a> 
          <div class="zTm" style="margin-top:67%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
           <div class="newName"> 
            <a class="titleSet" href="news_details_51378.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51378.html" target="_self">2017「姐妹助力团」打造计划</a> 
           </div> 
           <div class="newDetail detailSet pc">
            4月25日，宝发物业管理集团与摩拜单车在深圳老街举行摩拜单车推荐停车点揭牌仪式。宝发物业作为中国物业行业领先的社区服务与资产管理整合运营商。
           </div> 
           <div class="newDetail detailSet pad">
            4月25日，宝发物业管理集团与摩拜单车在深圳老街举行摩拜单车...
           </div> 
           <div class="newDetail detailSet mobile">
            4月25日，宝发物业管理集团与摩拜单车在深圳老街举行摩拜单车...
           </div> 
          </div> 
          <div class="newB"> 
           <span class="newSort sortSet">公司资讯</span> 
           <span class="newsTime timesSet"><span class="nDate">2017-09-21</span> <span class="nTime">04:42:09</span></span> 
          </div> 
         </div> </li> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51377.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51377.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_7.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_7.jpg" /></a> 
          <div class="zTm" style="margin-top:67%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
           <div class="newName"> 
            <a class="titleSet" href="news_details_51377.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51377.html" target="_self">2016CP社年终复古大Party</a> 
           </div> 
           <div class="newDetail detailSet pc">
            据悉，宝发物业与摩拜单车的合作，双方优势互补。未来宝发物业将携手摩拜单车，将合作范围扩展至宝发物业在全国各大城市的社区，摩拜单车将定点投放单...
           </div> 
           <div class="newDetail detailSet pad">
            据悉，宝发物业与摩拜单车的合作，双方优势互补。未来宝发物业将...
           </div> 
           <div class="newDetail detailSet mobile">
            据悉，宝发物业与摩拜单车的合作，双方优势互补。未来宝发物业将...
           </div> 
          </div> 
          <div class="newB"> 
           <span class="newSort sortSet">行业动态</span> 
           <span class="newsTime timesSet"><span class="nDate">2017-09-21</span> <span class="nTime">04:42:09</span></span> 
          </div> 
         </div> </li> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51376.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51376.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_9.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_9.jpg" /></a> 
          <div class="zTm" style="margin-top:67%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
           <div class="newName"> 
            <a class="titleSet" href="news_details_51376.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51376.html" target="_self">婚礼风向标【沈佳宜柯景腾婚礼】</a> 
           </div> 
           <div class="newDetail detailSet pc">
            摩拜单车管理层介绍，过去一年间，以摩拜单车为代表的智能共享单车快速成长，使城市自行车出行占比从5.5%翻番至11.6%，成为继公交地铁、出租...
           </div> 
           <div class="newDetail detailSet pad">
            摩拜单车管理层介绍，过去一年间，以摩拜单车为代表的智能共享单...
           </div> 
           <div class="newDetail detailSet mobile">
            摩拜单车管理层介绍，过去一年间，以摩拜单车为代表的智能共享单...
           </div> 
          </div> 
          <div class="newB"> 
           <span class="newSort sortSet">热点新闻</span> 
           <span class="newsTime timesSet"><span class="nDate">2017-09-21</span> <span class="nTime">04:42:09</span></span> 
          </div> 
         </div> </li> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51375.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51375.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_4.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_4.jpg" /></a> 
          <div class="zTm" style="margin-top:67%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
           <div class="newName"> 
            <a class="titleSet" href="news_details_51375.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51375.html" target="_self">吴晓锐handelababy1018世纪婚礼</a> 
           </div> 
           <div class="newDetail detailSet pc">
            宝发物业1993年成立于深圳，经过20余年的快速发展，服务已遍及全国60余个大中城市，服务面积近1.7亿平米，服务客户累积达180余万人，服...
           </div> 
           <div class="newDetail detailSet pad">
            宝发物业1993年成立于深圳，经过20余年的快速发展，服务已...
           </div> 
           <div class="newDetail detailSet mobile">
            宝发物业1993年成立于深圳，经过20余年的快速发展，服务已...
           </div> 
          </div> 
          <div class="newB"> 
           <span class="newSort sortSet">公司资讯</span> 
           <span class="newsTime timesSet"><span class="nDate">2017-09-21</span> <span class="nTime">04:42:09</span></span> 
          </div> 
         </div> </li> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51374.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51374.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_5.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_5.jpg" /></a> 
          <div class="zTm" style="margin-top:67%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
           <div class="newName"> 
            <a class="titleSet" href="news_details_51374.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51374.html" target="_self">“佳人组团”疯狂来袭</a> 
           </div> 
           <div class="newDetail detailSet pc">
            近年来，深圳政府为吸引和扶持留学人员来深创业，人才政策层出不穷，越来越多的留学生将深圳作为回国发展的首选。2016年，深圳迎来最大规模海归潮...
           </div> 
           <div class="newDetail detailSet pad">
            近年来，深圳政府为吸引和扶持留学人员来深创业，人才政策层出不...
           </div> 
           <div class="newDetail detailSet mobile">
            近年来，深圳政府为吸引和扶持留学人员来深创业，人才政策层出不...
           </div> 
          </div> 
          <div class="newB"> 
           <span class="newSort sortSet">行业动态</span> 
           <span class="newsTime timesSet"><span class="nDate">2017-09-21</span> <span class="nTime">04:42:09</span></span> 
          </div> 
         </div> </li> 
        <li class="sumary_list modSet"> 
         <div class="newPic imgSet"> 
          <a href="news_details_51373.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51373.html" target="_self"><img class="News_img" src="__PUBLIC__/Home/img/upimages/pkgimg/news_6.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/news_6.jpg" /></a> 
          <div class="zTm" style="margin-top:67%"></div> 
         </div> 
         <div class="newCont"> 
          <div class="newTitle"> 
           <div class="newName"> 
            <a class="titleSet" href="news_details_51373.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_details_51373.html" target="_self">全新二期婚礼故事限量升级</a> 
           </div> 
           <div class="newDetail detailSet pc">
            城市、公园、商场及景区外语指示牌闹笑话的现象，不只是北京石景山八大处公园独有，在各地很普遍，因拼凑与中文直译，这些标牌被网友戏称为“中式英文...
           </div> 
           <div class="newDetail detailSet pad">
            城市、公园、商场及景区外语指示牌闹笑话的现象，不只是北京石景...
           </div> 
           <div class="newDetail detailSet mobile">
            城市、公园、商场及景区外语指示牌闹笑话的现象，不只是北京石景...
           </div> 
          </div> 
          <div class="newB"> 
           <span class="newSort sortSet">公司资讯</span> 
           <span class="newsTime timesSet"><span class="nDate">2017-09-21</span> <span class="nTime">04:42:09</span></span> 
          </div> 
         </div> </li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
       </ul> 
       <div class="page_btn"> 
        <a class="paging cur" href="javascript:;">1</a>
        <a class="paging" href="news_News_2.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_News_2.html">2</a>
        <a class="next_btn" href="news_News_2.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/news_News_2.html">&gt;</a> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div id="layout_1493260260148" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1"> 
   <div class="view_contents"> 
   </div> 
  </div>
</block>

