<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{:C('APP_NAME')}</title>
    <link rel="stylesheet" href="__PUBLIC__/common/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/upload.css?{TIMESTAMP}" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/common/layui1.09/layui.js"></script>
    <script src="__PUBLIC__/common/js/jquery-1.12.4.min.js"></script>
    <script src="__PUBLIC__/js/address.js"></script>
    <script src="__PUBLIC__/jsplug/jparticle.jquery.js"></script>
    <!--<script src="__PUBLIC__/js/login.js"></script> -->
    <script type="text/javascript" src="__PUBLIC__/dataTable/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/dataTable/dataTable.css">
    <block name="myCss"></block>
</head>
<body>
<div style="margin: 15px;">
    <block name="main"></block>
</div>
<script src="__PUBLIC__/kindeditor/kindeditor-all-min.js"></script>
<block name="myScript"></block>
</body>
</html>