<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{:C('APP_NAME')}</title>
    <link rel="stylesheet" href="__PUBLIC__/common/layui1.09/css/layui.css">
    <script type="text/javascript" src="__PUBLIC__/common/layui1.09/layui.js"></script>
    <script src="__PUBLIC__/common/js/jquery-3.2.0.min.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/main2.css" media="all" />
	<link rel="stylesheet" href="__PUBLIC__/css/images.css" media="all" />
	<!--<link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"  type="text/css">-->
	<!--<link rel="stylesheet" href="__PUBLIC__/Home/font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">	-->
	<!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css?ver=1.0">
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script> -->
	<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
</head>
<body>
<div style="margin:15px;">
    <block name="mains"></block>
</div>
<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
</body>
</html>