<extend name="Public/base" />
<block name="main">
  <script type="text/javascript" src="__PUBLIC__/Home/js/064187.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/064187.css?ver=1.0" /> 
   <div id="layout_1493878003111" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="image_style_01_1493878003113" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_banner.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_banner.jpg" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="div_includeBlock_1493878003126" class="view includeBlock div  none includeView" data-wow-duration='1s' data-wow-delay='0.3s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="text_style_02_1493878003406" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">项目案例</div></div>
            <div id="homelink_style_01_1493878003416" class="view style_01 homelink  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="homelink" class="view_contents">
                <ol class="breadcrumb location_style01">
                  <li>
                    <a class="textSet" href="../index.htm" tppabs="http://demo.nicebox.cn/" onclick="">首页</a></li>
                  <li class="active textSet">项目案例</li></ol>
                <script>
                $(document).ready(function(){  
                	  $('.solution').addClass('hot');  
                  }); 
                
                $(function() {
                    var viewid = "homelink_style_01_1493878003416";
                    var sys_url = "viewid=homelink_style_01_1493878003416&name=homelink&style=style_01&langid=0&pageid=64187&viewCtrl=default&isfb=1";
                    var moreParams = '';
                    if (typeof(history.pushState) != 'undefined') {
                      var hstate = JSON.stringify(history.state);
                      if (hstate != 'null' && hstate != null) {
                        eval('var hjson = ' + hstate);
                        moreParams = hjson.moreParamshomelink_style_01_1493878003416;
                      }
                    }
                    RequestURL(viewid, sys_url, moreParams);
                  })</script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493798380049" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_02_1493798380052" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">案例展示</div></div>
        <div id="image_style_01_1493798380065" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
      </div>
    </div>
    <div id="layout_1493209404729" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="image_style_04_1493209404735" class="view style_04 image  none lockHeightView" data-wow-duration='1.5s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle_4">
              <input type='hidden' id='current_page_1493209404735' value="10" />
              <input type='hidden' id='show_per_page_1493209404735' value="8" />
              <ul id="content_1493209404735">
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_1.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_1.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_2.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_2.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_3.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_3.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_4.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_4.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_10.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_10.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_9.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_9.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_8.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_8.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_7.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_7.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_6.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_6.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li class="imgItems">
                  <a href="javascript:;">
                    <img src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/case_5.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/case_5.jpg" alt=""></a>
                  <div class="ratio" style="margin-top:100%"></div>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <div class="page_btn">
                <a class="page_link_1493209404735" href="javascript:go_to_page_1493209404735(0,8)" longdesc="0">1</a>
                <a class="page_link_1493209404735" href="javascript:go_to_page_1493209404735(1,8)" longdesc="1">2</a></div>
            </div>
            <script>$(document).ready(function() {
                $('.page_link[longdesc=0]').css("border", "1px solid #4c4c4c");
                $('#content_1493209404735').children().slice(0, $("#current_page_1493209404735").attr("value")).css('display', 'none');
                $('#content_1493209404735').children().slice(0, $("#show_per_page_1493209404735").attr("value")).css('display', 'block');
              });
              function go_to_page_1493209404735(page_num, prodNum) {
                start_from = page_num * prodNum;
                end_on = start_from + prodNum;
                $('#content_1493209404735').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');
                $('.page_link_1493209404735').css('border', '');
                $('.page_link_1493209404735[longdesc=' + page_num + ']').css("border", "1px solid #4c4c4c");
                phSize();
              }

              function phSize() {
                $("#{viewId} li").each(function() {
                  var img_W = $(this).find("img").width();
                  var img_H = $(this).find("img").height();
                  if (img_W < img_H) {
                    $(this).find("img").css({
                      "width": "100%",
                      "height": "auto"
                    })
                  } else {
                    $(this).find("img").css({
                      "width": "auto",
                      "height": "100%"
                    })
                  }
                });
              }</script>
            <script>$(function() {
                var obj = $("#image_style_04_1493209404735");
                var picItems = obj.find("li.imgItems");
                var num = 0;
                var picBox;
                picItems.click(function() {
                  var topH = $(window).scrollTop();
                  var index = $(this).index();
                  var curPic = $(this).find("img").attr("src");
                  num = index;
                  var picBoxhtml = $("<div class='imgShowBox'><im" + "" + "g src='" + curPic + "' alt=''><div class='imgButton'><span class='prevImg'><i class='fa fa-angle-left'></i></span><span class='closeShowPic'>×</span><span class='nextImg'><i class='fa fa-angle-right'></i></span></div></div>");
                  //"+""+"为了躲开图片延时加载的代码替换
                  $("body").append(picBoxhtml);

                  picBox = $(".imgShowBox");

                  pdSize();

                  //判断下一张和上一张按钮的显示
                  if (picItems.length == 1) {
                    $("body").find(".imgButton>.nextImg,.imgButton>.prevImg").css("visibility", "hidden")
                  }
                  if (picItems.length - 1 == $(this).index()) {
                    $("body").find(".imgButton>.nextImg").css("visibility", "hidden")
                  }
                  if ($(this).index() == 0) {
                    $("body").find(".imgButton>.prevImg").css("visibility", "hidden")
                  }

                  //关闭
                  $("body").find(".imgButton>.closeShowPic").click(function() {
                    $(".imgShowBox").remove();
                    $("body").removeClass("pos_fixed");
                    $(window).scrollTop(topH);
                  });
                  //下一张
                  $("body").find(".imgButton>.nextImg").click(function() {
                    $(".imgShowBox img").css("max-height", "none");
                    var len = obj.find("li:has('img')").length;
                    $(this).siblings().css("visibility", "visible");
                    num++;
                    if (num >= len) {
                      num = len - 1;
                    }
                    if (num == len - 1) {
                      $(this).css("visibility", "hidden");
                    }
                    curPics();
                    pdSize();
                  });
                  //上一张
                  $("body").find(".imgButton>.prevImg").click(function() {
                    $(".imgShowBox img").css("max-height", "none");
                    $(this).siblings().css("visibility", "visible");
                    num--;
                    if (num <= 0) {
                      num = 0;
                      $(this).css("visibility", "hidden");
                    }
                    curPics();
                    pdSize();
                  });
                });
                //切换大图
                function curPics() {
                  var newImg = obj.find("li").eq(num).find("img").attr("src");
                  picBox.find("img").attr("src", newImg);
                }
                //判断展开显示效果
                function pdSize() {
                  var imgH = picBox.find("img").height();
                  var winH = $(window).height();
                  if (imgH > winH) {
                    $("body").addClass("pos_fixed");
                    picBox.addClass("scroll");
                    picBox.animate({
                      "scrollTop": "0px"
                    },
                    200);
                  } else {
                    $("body").removeClass("pos_fixed");
                    picBox.removeClass("scroll");
                    $(".imgShowBox img").css("max-height", "80%");
                  }
                }
                //遍历所有图片宽高定位
                picItems.each(function() {
                  var img_W = $(this).find("img").width();
                  var img_H = $(this).find("img").height();
                  if (img_W < img_H) {
                    $(this).find("img").css({
                      "width": "100%",
                      "height": "auto"
                    })
                  } else {
                    $(this).find("img").css({
                      "width": "auto",
                      "height": "100%"
                    })
                  }
                });
              });</script>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493257196196" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
    <div id="layout_1493799451627" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_02_1493799451631" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">客户好评</div></div>
        <div id="image_style_01_1493799451646" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="text_style_01_1493799451654" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">感谢您对CP婚庆策划的认可，我们会继续努力，为客户提供更好的服务。</div></div>
        <div id="tab_style_03_1493209421183" class="view style_03 tab  none includeView" data-wow-duration='1s' data-wow-delay='0.25s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="tab" class="view_contents">
            <script></script>
            <div id="div_tab_style_03_1493209421183" class="niceTab tabStyle_3">
              <div class="tab_nav tab_nav_bottom">
                <div class="tab_scroll tab_scroll_bottom">
                  <ul class="tab_ul tab_ul_bottom">
                    <li class="tab_li tabItemSet tab_li_bottom tabCurItem">
                      <div class="tab_pos_r">
                        <div class="tab_img tabImgSet">
                          <img src="../sysTools/Model/views/tab/z_08/v9Res/d19538d87045a6a5924b93370b3eb228.png" tppabs="http://demo.nicebox.cn/sysTools/Model/views/tab/z_08/v9Res/d19538d87045a6a5924b93370b3eb228.png" ondragstart="return false;" /></div>
                        <div class="tab_txt" onselectstart="return false">
                          <p>1</p>
                        </div>
                      </div>
                    </li>
                    <li class="tab_li tabItemSet tab_li_bottom">
                      <div class="tab_pos_r">
                        <div class="tab_img tabImgSet">
                          <img src="../sysTools/View/img/diy/tabImg.png" tppabs="http://demo.nicebox.cn/sysTools/View/img/diy/tabImg.png" ondragstart="return false;" /></div>
                        <div class="tab_txt" onselectstart="return false">
                          <p>2</p>
                        </div>
                      </div>
                    </li>
                    <li class="tab_li tabItemSet tab_li_bottom">
                      <div class="tab_pos_r">
                        <div class="tab_img tabImgSet">
                          <img src="../sysTools/View/img/diy/tabImg.png" tppabs="http://demo.nicebox.cn/sysTools/View/img/diy/tabImg.png" ondragstart="return false;" /></div>
                        <div class="tab_txt" onselectstart="return false">
                          <p>3</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab_box tab_box_bottom" style="">
                <div class="tab_content">
                  <div class="tab_main niceTabContent tabconSet">
                    <div class="tab_div niceTabShow">
                      <div id="image_style_01_1493209424430" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="image" class="view_contents">
                          <div class="imgStyle CompatibleImg">
                            <a href='javascript:;' target="">
                              <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/client_1.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/client_1.png" title="" alt="描述" id="imageModeShow" /></a>
                          </div>
                          <!-- 新加的js --></div>
                      </div>
                      <div id="text_style_01_1493209424449" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="text" class="view_contents">丽莎</div></div>
                      <div id="text_style_02_1493209424439" class="view style_02 text  none lockHeightView" data-wow-duration='1.5s' data-wow-delay='0.3s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="text" class="view_contents">如果您来自欧洲大陆并计划在中国、在武汉、在东湖新技术开发区开辟或拓展您的业务； 如果您的企业在这里有项目要完成；或者您的企业遇到与此相关的难题需要解决；如果您的企业有意去欧洲大陆，去德国、瑞士、奥地利、比利时投资、洽谈、参展、访问、拓展业务领域，我们将成为您理想的向导和助力。</div></div>
                    </div>
                    <div class="tab_div">
                      <div id="image_style_01_1493209424455" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="image" class="view_contents">
                          <div class="imgStyle CompatibleImg">
                            <a href='javascript:;' target="">
                              <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/client_2.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/client_2.png" title="" alt="描述" id="imageModeShow" /></a>
                          </div>
                          <!-- 新加的js --></div>
                      </div>
                      <div id="text_style_01_1493209424463" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="text" class="view_contents">比特</div></div>
                      <div id="text_style_02_1493209424468" class="view style_02 text  none lockHeightView" data-wow-duration='1.5s' data-wow-delay='0.3s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="text" class="view_contents">我们深刻意识到，我们身处在这个世界，面向这个世界，并向这个世界开放对于人类独特的文化与习俗，思想与创意，教育和可持续性发展，以及健康、气候与环境，我们均给予高度的价值和尊重。我们意在稳步地、可持续性地学习与成长，我们意在成长为跨国投资、商贸促进与企业管理领域中国最具智能的综合构建与解决方案系统。</div></div>
                    </div>
                    <div class="tab_div">
                      <div id="image_style_01_1493209424479" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="image" class="view_contents">
                          <div class="imgStyle CompatibleImg">
                            <a href='javascript:;' target="">
                              <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/client_3.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/client_3.png" title="" alt="描述" id="imageModeShow" /></a>
                          </div>
                          <!-- 新加的js --></div>
                      </div>
                      <div id="text_style_02_1493209424485" class="view style_02 text  none lockHeightView" data-wow-duration='1.5s' data-wow-delay='0.3s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="text" class="view_contents">这一切鼓舞着我们继续心怀“服务社会、服务大众，促进社会和谐与进步“的基本任务，以“以人为本，不断学习，可持续发展“为基本经营理念，不断学习、不断成长，不断发展，使得武汉市逐渐成欧洲工业人文发达国家地区最具吸引力的商贸科研交流投资地，以期为武汉市的经济建设与发展贡献一份绵薄之力，为国内外广大热衷于学习与成长的优秀人士提供一个国际化的发展空间与平台。</div></div>
                      <div id="text_style_01_1493209424491" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                        <div names="text" class="view_contents">史密斯</div></div>
                    </div>
                  </div>
                  <div class="tab_left_arrow arrowLeftSet">
                    <a href="#"></a>
                  </div>
                  <div class="tab_right_arrow arrowRightSet">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <script>$(function() {
                tab_style03_init("div_tab_style_03_1493209421183");
                setClick_Choice("div_tab_style_03_1493209421183");

                setAnimat_int("div_tab_style_03_1493209421183", 3);

                $(".tab_nav").hide();
                $(".tab_box").css({
                  top: '0px',
                  bottom: '0px',
                  right: '0px',
                  left: '0px',
                  height: '100%',
                  width: '100%'
                });
              });</script>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493799503756" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
</block>

