<extend name="Public/base" />
<block name="main">
  <script type="text/javascript" src="__PUBLIC__/Home/js/064194.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/064194.css?ver=1.0" /> 
   <div id="layout_1493790606025" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_02_1493790606029" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">联系方式</div></div>
        <div id="image_style_01_1493790606046" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
      </div>
    </div>
    <div id="layout_1493790756686" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_01_1493790756691" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">您可以通过以下方式联系我们，CP乐意为您服务。</div></div>
      </div>
    </div>
    <div id="layout_1493790809769" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="div_includeBlock_1493790823595" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="image_style_01_1493790911277" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/contactUs_address.png"  title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493791240332" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">CP地址：</div></div>
            <div id="text_style_02_1493791315443" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">广东珠海市香洲区湾仔沙8号</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493791753789" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="image_style_01_1493791754063" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/contactUs_tel.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/contactUs_tel.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493791754077" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">联系热线：</div></div>
            <div id="text_style_02_1493791754083" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">0756-3268XXX</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493791762214" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="image_style_01_1493791762460" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/contactUs_email.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/contactUs_email.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493791762479" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">电子邮箱：</div></div>
            <div id="text_style_02_1493791762485" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">couple@qq.com</div></div>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493792013748" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
    <div id="layout_1493196230217" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="map_style_01_1493203994999" class="view style_01 map  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="map" class="view_contents">
            <script></script>
            <!-- <script src="__PUBLIC__/Home/res/map/style_01/baidumap.js"></script>-->
            <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FbzOyQ4YujPrZsxiQKoB07aB"></script>
    		<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.2/jquery.min.js"></script>
			<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
			<script type="text/javascript" src="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js"></script>
			<link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" /> 
            <div style="width:100%;height:100%;border:#ccc solid 1px;font-size:12px" id="map_style_01_1493203994999_map"></div>
            <script type="text/javascript">// 获取设置参数: 缩放级别(赋值范围为3-18级)118.794885,32.041433
             $(document).ready(function(){  
                	  $('.contactUs').addClass('hot');  
             }); 
            
            function get_params_zoom() {
                var zoom = parseInt(trim('19'));
                return isNaN(zoom) ? 13 : (zoom < 3 ? 3 : (zoom > 18 ? 18 : zoom));
              }
              // 获取设置参数: 坐标
              function get_params_coordinate() {
                var latitude = parseFloat(trim('118.794885')),
                longitude = parseFloat(trim('32.041433'));
                return {
                  longitude: isNaN(longitude) ? 118.794885 : longitude,
                  // 默认北京
                  latitude: isNaN(latitude) ? 32.041433 : latitude
                };
              }
              // 获取设置参数: 添加标记时所选的图标的在整张图片中的位置
              function get_params_marker_icon(x, y) { // x:横向第几个, y:纵向第几个
                (x < 0 || x > 5) && (x = 0); (y < 0 || y > 2) && (y = 0);
                return {
                  x: x * 23,
                  y: y * (y == 1 ? 21 : 23),
                  width: 23,
                  height: (y == 1 ? 25 : 21)
                };
              }
              // 获取参数
              var coordinate = get_params_coordinate();
              var markers_data = [];
              // 显示地图
              $(function() {
                setTimeout(initMap, 200);
              });
              function initMap() {
                createMap(); //创建地图
                setMapEvent(); //设置地图事件
                addMapControl(); //向地图添加控件
                addMarker(); //向地图中添加marker
              }
              function createMap() {
                map = new BMap.Map("map_style_01_1493203994999"); //在百度地图容器中创建一个地图
                setMapCenter();
                window.map = map; //将map变量存储在全局
              }
              function setMapCenter() {
                var location_mode = 'word';
                switch (location_mode) {
                case 'point':
                  //根据坐标设置地图中心点
                  var point = new BMap.Point(coordinate.longitude, coordinate.latitude); //定义一个中心点坐标
                  map.centerAndZoom(point, get_params_zoom()); //设定地图的中心点和坐标并将地图显示在地图容器中
                  break;
                case 'word':
                default:
                  //根据字符串设置地图中心点
                  var address = trim('广东珠海'),
                  name = trim('湾仔沙公交站'),
                  center = (address ? address: '北京') + (name ? ' ' + name: ''); // address 默认北京
                  map.centerAndZoom(center);
                  //检索区域
                  var local = new BMap.LocalSearch(map, {
                    renderOptions: {
                      map: map
                    }
                  });
                  local.search(center);
                  break;
                }
              }
              function setMapEvent() {
                map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
                map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
                map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
                map.enableKeyboard(); //启用键盘上下左右键移动地图
              }
              //向地图添加控件
              function addMapControl() {
                //向地图中添加缩放控件
                var ctrl_nav = new BMap.NavigationControl({
                  anchor: BMAP_ANCHOR_TOP_LEFT,
                  type: BMAP_NAVIGATION_CONTROL_LARGE
                });
                map.addControl(ctrl_nav);
                //向地图中添加缩略图控件
                var ctrl_ove = new BMap.OverviewMapControl({
                  anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
                  isOpen: 1
                });
                map.addControl(ctrl_ove);
                //向地图中添加比例尺控件
                var ctrl_sca = new BMap.ScaleControl({
                  anchor: BMAP_ANCHOR_BOTTOM_LEFT
                });
                map.addControl(ctrl_sca);
              }

              //标注点数组
              var markerArr = [];
              for (var i = 0,
              len = markers_data.length; i < len; ++i) {
                var data = markers_data[i],
                icon = data.icon,
                coord = data.coordinate;
                markerArr.push({
                  title: data.title,
                  content: data.content,
                  point: coord.longitude + "|" + coord.latitude,
                  isOpen: 1,
                  icon: {
                    w: icon.width,
                    h: icon.height,
                    l: icon.x,
                    t: icon.y,
                    x: 6,
                    lb: 5
                  }
                });
              }
              //创建marker
              function addMarker() {
                for (var i = 0; i < markerArr.length; i++) {
                  var json = markerArr[i];
                  var p0 = json.point.split("|")[0];
                  var p1 = json.point.split("|")[1];
                  var point = new BMap.Point(p0, p1);
                  var iconImg = createIcon(json.icon);
                  var marker = new BMap.Marker(point, {
                    icon: iconImg
                  });
                  var iw = createInfoWindow(i);
                  var label = new BMap.Label(json.title, {
                    "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)
                  });
                  marker.setLabel(label);
                  map.addOverlay(marker);
                  label.setStyle({
                    borderColor: "#808080",
                    color: "#333",
                    cursor: "pointer"
                  });

                  (function() {
                    var index = i;
                    var _iw = createInfoWindow(i);
                    var _marker = marker;
                    _marker.addEventListener("click",
                    function() {
                      this.openInfoWindow(_iw);
                    });
                    _iw.addEventListener("open",
                    function() {
                      _marker.getLabel().hide();
                    });
                    _iw.addEventListener("close",
                    function() {
                      _marker.getLabel().show();
                    });
                    label.addEventListener("click",
                    function() {
                      _marker.openInfoWindow(_iw);
                    });
                    if ( !! json.isOpen) {
                      label.hide();
                      _marker.openInfoWindow(_iw);
                    }
                  })()
                }
              }
              //创建InfoWindow
              function createInfoWindow(i) {
                var json = markerArr[i];
                var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
                return iw;
              }
              //创建一个Icon
              function createIcon(json) {
                var icon = new BMap.Icon("__PUBLIC__/Home/img/map/style_01/us_cursor.gif"
                /*tpa=http://demo.nicebox.cn/7543019a292ad748/img/map/style_01/us_cursor.gif*/
                , new BMap.Size(json.w, json.h), {
                  imageOffset: new BMap.Size( - json.l, -json.t),
                  infoWindowOffset: new BMap.Size(json.lb + 5, 1),
                  offset: new BMap.Size(json.x, json.h)
                });
                return icon;
              }
              //辅助函数
              function trim(s) {
                return s.replace(/(^\s*)|(\s*$)/g, '');
              }</script>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493200971959" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
    <div id="layout_1493792090532" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
    <div id="layout_1493792117562" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_02_1493792117595" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">在线留言</div></div>
        <div id="image_style_01_1493792117601" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="text_style_01_1493792117609" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">欢迎在此留言，CP希望得到您的宝贵意见。</div></div>
        <div id="customForm_form_1493204663585" class="view form customForm  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="customForm" class="view_contents">
            <form id="form_customForm_form_1493204663585" action="" onsubmit="return CheckForm(this)" method="POST" target="">
              <div id="customForm_style_input_01_1493204663787" class="view style_input_01 customForm  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                <div names="customForm" class="view_contents">
                  <input type="text" name="item[customForm_style_input_01_1493204663787]" value="" check="\S" warning='请填写完整' all maxlength="" class="textInput showvar inputSet" placeholder="您的姓名..." />
                  <script type="text/javascript" src="../../s143js.nicebox.cn/js/location.js-893" tppabs="http://s143js.nicebox.cn/js/location.js?893"></script>
                </div>
              </div>
              <div id="customForm_style_input_01_1493204663815" class="view style_input_01 customForm  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                <div names="customForm" class="view_contents">
                  <input type="text" name="item[customForm_style_input_01_1493204663815]" value="" check="^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$" warning='邮箱地址不对' all maxlength="" class="textInput showvar inputSet" placeholder="您的电子邮箱..." />
                  <script type="text/javascript" src="../../s143js.nicebox.cn/js/location.js-696" tppabs="http://s143js.nicebox.cn/js/location.js?696"></script>
                </div>
              </div>
              <div id="customForm_style_input_01_1493204663807" class="view style_input_01 customForm  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                <div names="customForm" class="view_contents">
                  <input type="text" name="item[customForm_style_input_01_1493204663807]" value="" check="\S" warning='请填写完整' all maxlength="" class="textInput showvar inputSet" placeholder="您的电话号码..." />
                  <script type="text/javascript" src="../../s143js.nicebox.cn/js/location.js-610" tppabs="http://s143js.nicebox.cn/js/location.js?610"></script>
                </div>
              </div>
              <div id="customForm_style_textarea_01_1493204663831" class="view style_textarea_01 customForm  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                <div names="customForm" class="view_contents">
                  <textarea style="resize:none;" name="item[customForm_style_textarea_01_1493204663831]" value="" data-ismust="all" maxlength="140" class="textareaInput3 inputSet" placeholder="您想说的话..."></textarea>
                </div>
              </div>
              <div id="customForm_style_button_01_1493204663840" class="view style_button_01 customForm  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                <div names="customForm" class="view_contents">
                  <script>function btnTop() {
                      $("html,body").animate({
                        scrollTop: "0px"
                      },
                      1000);
                    }
                    function btnBottom() {
                      var bodyH = $("html,body").height();
                      $("html,body").animate({
                        scrollTop: bodyH
                      },
                      1000);
                    }</script>
                  <input type="submit" name="" value="提交留言" class="squareButton  btnaSet" onclick="" /></div>
              </div>
            </form>
            <script type="text/javascript" src="../../s143js.nicebox.cn/js/v9check.js" tppabs="http://s143js.nicebox.cn/js/v9check.js"></script>
            <script>$(function() {
                $("#form_customForm_form_1493204663585 input,select,textarea").each(function() {
                  var typename = $(this).attr("type");
                  if (typename == "hidden") return;
                  $(this).attr('tabindex', $(this).offset().top);
                });

              });</script>
          </div>
        </div>
      </div>
    </div>
</block>

