<extend name="Public/base" />
<block name="main">
  <script type="text/javascript" src="__PUBLIC__/Home/js/064193.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/064193.css?ver=1.0" /> 
   <div id="layout_1493878244265" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="image_style_01_1493878244268" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/aboutUs_banner.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/aboutUs_banner.jpg" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="div_includeBlock_1493878244279" class="view includeBlock div  none includeView" data-wow-duration='1s' data-wow-delay='0.3s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="text_style_02_1493878244540" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">关于我们</div></div>
            <div id="homelink_style_01_1493878244557" class="view style_01 homelink  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="homelink" class="view_contents">
                <ol class="breadcrumb location_style01">
                  <li>
                    <a class="textSet" href="../index.htm" tppabs="http://demo.nicebox.cn/" onclick="">首页</a></li>
                  <li class="active textSet">关于我们</li></ol>
                <script>
                $(document).ready(function(){  
                	  $('.aboutUs').addClass('hot');  
                  });
                $(function() {
                    var viewid = "homelink_style_01_1493878244557";
                    var sys_url = "viewid=homelink_style_01_1493878244557&name=homelink&style=style_01&langid=0&pageid=64193&viewCtrl=default&isfb=1";
                    var moreParams = '';
                    if (typeof(history.pushState) != 'undefined') {
                      var hstate = JSON.stringify(history.state);
                      if (hstate != 'null' && hstate != null) {
                        eval('var hjson = ' + hstate);
                        moreParams = hjson.moreParamshomelink_style_01_1493878244557;
                      }
                    }
                    RequestURL(viewid, sys_url, moreParams);
                  })</script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493780222704" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_02_1493780222708" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">公司简介</div></div>
        <div id="image_style_01_1493780222725" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
      </div>
    </div>
    <div id="layout_1493196230217" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_01_1493781185665" class="view style_01 text  none lockHeightView" data-wow-duration='1.5s' data-wow-delay='0.6s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">CP婚庆策划公司是一家专业创意策划、设计、组织、执行各种大型活动以及展览展示、会议会展、品牌策划、庆典策划等综合性商务服务的公司。专业的水平，庞大的团队、丰富的经验，“专注为您、为您专注”的服务，您的奇迹、辰光为您创造，品质服务、卓越呈现。携手共赢，同创佳绩，真诚期待与您的合作。
            <br>
            <div>
              <div>
                <div>
                  <div></div></div>
              </div>
            </div>
          </div>
        </div>
        <div id="image_style_01_1493780282281" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/company_Introduce.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/company_Introduce.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="text_style_01_1493196230250" class="view style_01 text  none lockHeightView" data-wow-duration='1.5s' data-wow-delay='0.6s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">CP婚庆策划公司隶属于美世代化妆品有限公司，成立于1999年中国北京，突破婚礼一对一服务，开创多对一服务模式，有婚礼业界奢侈品之称。2012年至今，CP婚礼已经成为全国最具时尚创意风格的婚礼品牌。作为人文艺术婚礼的倡导品牌，每年CP婚礼流行趋势发布，均成为整年婚礼行业的风向标，其作品与理念受各大高端专业杂志、电视台及一线网络媒体特约报道，荣获中国时尚行业颁发的“婚尚婚礼策划奖”。
            <div>
              <div>
                <div>
                  <div></div></div>
              </div>
            </div>
          </div>
        </div>
        <div id="text_style_01_1493781391617" class="view style_01 text  none lockHeightView" data-wow-duration='1.5s' data-wow-delay='0.6s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">
            <div>CP婚礼整合了各个方面的资源，出色的策划、专业的道具和非凡的执行力是CP婚礼始终坚持的工作原则，因此受到很多商业界及演艺界名人青睐。“金马影后”郝蕾双胞胎宝宝百日宴、奥运冠军体操皇后刘轩“爱的味道”主题答谢宴、著名演员梅廷“婚后楼梯”主题婚礼、人气女星戚微和韩国艺人李承玄的美国拉斯维加斯跨国婚礼、《红太郎的幸福生活》“红太郎”饰演者王磊与童星李萌的爱情三部曲婚礼、韩国女神蔡卓琳和”京男郎”高梓其“麒麟相伴”主题婚礼、世界冠军王浩的巴洛克风格答谢宴、央视名嘴沙同及青年演员刘园的穆斯林风格婚礼，都带有强烈的新人个人风格和独特爱情体现。
              <div>
                <div>
                  <div></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493784229022" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
    <div id="layout_1493782154079" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="div_includeBlock_1493782804813" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_includeBlock_1493782112790" class="view includeBlock div  none includeView" data-wow-duration='1.2s' data-wow-delay='0.6s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <div id="image_style_01_1493782113092" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                  <div names="image" class="view_contents">
                    <div class="imgStyle CompatibleImg">
                      <a href='javascript:;' target="">
                        <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/team_1.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/team_1.jpg" title="" alt="描述" id="imageModeShow" /></a>
                    </div>
                    <!-- 新加的js --></div>
                </div>
              </div>
            </div>
            <div id="text_style_01_1493782911313" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">关永荷</div></div>
            <div id="div_blank_1493782921599" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="text_style_01_1493783089156" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">知名时尚设计师</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493784346341" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_includeBlock_1493784346526" class="view includeBlock div  none includeView" data-wow-duration='1.2s' data-wow-delay='0.6s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <div id="image_style_01_1493784346904" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                  <div names="image" class="view_contents">
                    <div class="imgStyle CompatibleImg">
                      <a href='javascript:;' target="">
                        <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/team_3.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/team_3.jpg" title="" alt="描述" id="imageModeShow" /></a>
                    </div>
                    <!-- 新加的js --></div>
                </div>
              </div>
            </div>
            <div id="text_style_01_1493784346535" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">余思蔓</div></div>
            <div id="div_blank_1493784346549" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="text_style_01_1493784346558" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">资深婚庆策划人</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493784318853" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_includeBlock_1493784319013" class="view includeBlock div  none includeView" data-wow-duration='1.2s' data-wow-delay='0.6s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <div id="image_style_01_1493784319388" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
                  <div names="image" class="view_contents">
                    <div class="imgStyle CompatibleImg">
                      <a href='javascript:;' target="">
                        <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/team_2.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/team_2.jpg" title="" alt="描述" id="imageModeShow" /></a>
                    </div>
                    <!-- 新加的js --></div>
                </div>
              </div>
            </div>
            <div id="text_style_01_1493784319032" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">欧阳家辉</div></div>
            <div id="div_blank_1493784319041" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="text_style_01_1493784319051" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">专业摄影师</div></div>
          </div>
        </div>
        <div id="text_style_02_1493782154080" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">我们的团队</div></div>
        <div id="image_style_01_1493782154097" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="text_style_01_1493782146232" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">CP婚庆策划的成功离不开我们的精英团队，他们用汗水和创意创意带给大家无限惊喜。</div></div>
      </div>
    </div>
</block>

