<extend name="Public/base" />
<block name="main">
  <script type="text/javascript" src="__PUBLIC__/Home/js/064190.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/064190.css?ver=1.0" /> 
   <div id="layout_1493878285543" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="image_style_01_1493878285546" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_banner.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_banner.jpg" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="div_includeBlock_1493878285561" class="view includeBlock div  none includeView" data-wow-duration='1s' data-wow-delay='0.3s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="text_style_02_1493878285978" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">我们的服务</div></div>
            <div id="homelink_style_01_1493878286008" class="view style_01 homelink  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="homelink" class="view_contents">
                <ol class="breadcrumb location_style01">
                  <li>
                    <a class="textSet" href="../index.htm" tppabs="http://demo.nicebox.cn/" onclick="">首页</a></li>
                  <li class="active textSet">我们的服务</li></ol>
                <script>
                $(document).ready(function(){  
              	  $('.ourService').addClass('hot');  
                });
                $(function() {
                    var viewid = "homelink_style_01_1493878286008";
                    var sys_url = "viewid=homelink_style_01_1493878286008&name=homelink&style=style_01&langid=0&pageid=64190&viewCtrl=default&isfb=1";
                    var moreParams = '';
                    if (typeof(history.pushState) != 'undefined') {
                      var hstate = JSON.stringify(history.state);
                      if (hstate != 'null' && hstate != null) {
                        eval('var hjson = ' + hstate);
                        moreParams = hjson.moreParamshomelink_style_01_1493878286008;
                      }
                    }
                    RequestURL(viewid, sys_url, moreParams);
                  })</script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493790809769" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="div_includeBlock_1493795440496" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795440720" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795440731" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_cakes.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_cakes.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795440740" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">蛋糕</div></div>
            <div id="text_style_02_1493795440747" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">虽然还未正式进入酷暑，但是，作为市内最大的水上主题乐园——梦幻水城依然受到了不少游客的欢迎。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493795452989" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795453183" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795453195" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_cars.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_cars.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795453202" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">花车</div></div>
            <div id="text_style_02_1493795453209" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">继去年新增的“合家欢滑道”之后，今年再有“新成员”加入——全新双螺旋旋风滑道。其中封闭式螺旋滑道更具有流光溢彩效果。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493795546195" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795546419" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795546434" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_dresses.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_dresses.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795546446" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">婚庆礼服</div></div>
            <div id="text_style_02_1493795546453" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">海泉湾度假区一向以温泉项目著称，景区海洋温泉的恺撒皇宫全方位呈现古罗马大帝沐浴时的情景，珠海礼仪庆典公司让游客化身为恺撒。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493795560752" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795561051" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795561064" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_venue.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_venue.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795561069" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">婚庆场地</div></div>
            <div id="text_style_02_1493795561077" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">五一期间，在原有的温泉项目基础上，推出海洋冰泉。从温热的泉水出来，再跳进放入众多冰块的冰泉，让游客感受从热到冰冷的刺激。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493795557410" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795557642" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795557655" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/20170503145825726.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/20170503145825726.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795557665" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">首饰</div></div>
            <div id="text_style_02_1493795557672" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">还配备专业的教练团队，珠海会展策划公司能让游客快速学习到潜水的基础知识，不同深度的阶梯训练能使游客逐步适应水底漫步。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493795616947" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795617194" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795617213" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_makeup.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_makeup.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795617218" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">美容化妆</div></div>
            <div id="text_style_02_1493795617227" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">海洋王国方面表示，“海洋深潜”项目4月中下旬会先开放海豚岛潜水预订，在海洋王国的客服中心，以及长隆旅游各官方直销渠道均可预订。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493795632046" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795632333" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795632348" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_catering.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_catering.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795632353" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">宴会餐饮</div></div>
            <div id="text_style_02_1493795632361" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">此外，海洋王国随后将逐步探讨开放鲸鲨馆，那里海洋生物更丰富，将让游客尽享深海的自由，深度探秘海洋的奥妙。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493795638580" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493795638851" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493795638862" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_entertainment.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_entertainment.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493795638869" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">娱乐节目</div></div>
            <div id="text_style_02_1493795638877" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">据珠海长隆海洋王国助理总经理李湛伟介绍，“海洋深潜”项目初步先开放海豚岛体验，海豚岛水温非常适宜，常年保持26度左右，而且这里有三种。</div></div>
          </div>
        </div>
        <div id="div_includeBlock_1493790823595" class="view includeBlock div  none includeView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="div" class="view_contents">
            <div id="div_blank_1493794284981" class="view blank div  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="div" class="view_contents">
                <!-- <a href="javascript:;" style="display:block;width:100%;height:100%;" id="divnet"></a>
                -->
              </div>
            </div>
            <div id="image_style_01_1493790911277" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="image" class="view_contents">
                <div class="imgStyle CompatibleImg">
                  <a href='javascript:;' target="">
                    <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/ourService_flowers.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/ourService_flowers.png" title="" alt="描述" id="imageModeShow" /></a>
                </div>
                <!-- 新加的js --></div>
            </div>
            <div id="text_style_02_1493791240332" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">鲜花</div></div>
            <div id="text_style_02_1493791315443" class="view style_02 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
              <div names="text" class="view_contents">今年五一小长假，珠海作为国内游的十大热门城市自驾游依旧是旅游市场的主打产品。为了满足游客个性化需求。新增“旋风滑道”刺激玩水新体验。</div></div>
          </div>
        </div>
        <div id="text_style_02_1493790606029" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">我们的服务</div></div>
        <div id="image_style_01_1493790606046" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
        <div id="text_style_01_1493790756691" class="view style_01 text  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">婚礼从筹备到进行，CP都会一路的陪伴在您的身边，为您出谋划策。</div></div>
      </div>
    </div>
    <div id="layout_1493792013748" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
    <div id="layout_1493805667132" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="text_style_02_1493805667136" class="view style_02 text  none lockHeightView" data-wow-duration='1.2s' data-wow-delay='0.5s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="text" class="view_contents">婚庆产品</div></div>
        <div id="image_style_01_1493805667157" class="view style_01 image  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="image" class="view_contents">
            <div class="imgStyle CompatibleImg">
              <a href='javascript:;' target="">
                <img class="picSet link-type-" src="__PUBLIC__/Home/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/pkgimg/pkgimg/title_line.png" title="" alt="描述" id="imageModeShow" /></a>
            </div>
            <!-- 新加的js --></div>
        </div>
      </div>
    </div>
    <div id="layout_1493868885087" class="layout " data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="prodKind_style_03_1493869050322" class="view style_03 prodKind  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="prodKind" class="view_contents">
            <script></script>
            <script type="text/javascript" src="res/prodKind/style_03/default.js" tppabs="http://demo.nicebox.cn/7543019a292ad748/res/prodKind/style_03/default.js"></script>
            <script>function clickli() {
                var pid = "";
                var pgids = '';
                $(".level1[pid=" + pgids + "]").find("em").trigger("click");
                if ($(".level1[pid=" + pgids + "]").length == 0) $(".le2[pid=" + pgids + "]").parents(".level1").find("em").trigger("click");
              }

              window.onload = function() {
                var pid = "";
                var pgids = '';
                if (!pgids) pgids = Request('pgid');
                console.log("pid:" + pid);
                console.log("pgids:" + pgids);
                setTimeout('clickli()', 1000);
                $(".level1[pid=" + pgids + "]").find("em").trigger("click");
                if ($(".level1[pid=" + pgids + "]").length == 0) $(".le2[pid=" + pgids + "]").parents(".level1").find("em").trigger("click");

              }</script>
            <!---产品分类区域-->
            <div class="prodcateStyle_3">
              <ul class="oneBgSet">
                <li class="oneSet">
                  <a href="ourService.html-pgid=69824.htm" tppabs="http://demo.nicebox.cn/7543019a292ad748/ourService.html?pgid=69824" target="_self">礼品</a></li>
                <li class="oneSet">
                  <a href="ourService.html-pgid=69823.htm" tppabs="http://demo.nicebox.cn/7543019a292ad748/ourService.html?pgid=69823" target="_self">首饰</a></li>
                <li class="oneSet">
                  <a href="ourService.html-pgid=69822.htm" tppabs="http://demo.nicebox.cn/7543019a292ad748/ourService.html?pgid=69822" target="_self">礼服</a></li>
              </ul>
            </div>
            <!--产品分类区域 结束-->
            <script>$(function() {
                var viewid = "prodKind_style_03_1493869050322";
                var sys_url = "viewid=prodKind_style_03_1493869050322&name=prodKind&style=style_03&langid=0&pageid=64190&viewCtrl=prodKind&isfb=1";
                var moreParams = '';
                if (typeof(history.pushState) != 'undefined') {
                  var hstate = JSON.stringify(history.state);
                  if (hstate != 'null' && hstate != null) {
                    eval('var hjson = ' + hstate);
                    moreParams = hjson.moreParamsprodKind_style_03_1493869050322;
                  }
                }
                RequestURL(viewid, sys_url, moreParams);
              })</script>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493196230217" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents">
        <div id="productList_style_07_1493868841245" class="view style_07 productList  none lockHeightView" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
          <div names="productList" class="view_contents">
            <div class="prod_default7">
              <ul id="prod_Ulist">
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130242.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130242.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240071s.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240071s.jpg" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130242.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130242.html" target="_self">白金24K钻石戒指</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130242.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130242.html" target="_self">白金24K钻石戒指</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130242.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130242.html" target="_self">白金24K钻石戒指</a></div>
                          <div class="p_detail detailSet pc">如果是传统的仪式，选择古典而盛大的礼服一定没错；如果在乡村或花园中举行婚礼，礼服要选择适合在...</div>
                          <div class="p_detail detailSet pad">如果是传统的仪式，选择古典而盛大的礼服一定没错；如果在乡村或花园中举行...</div>
                          <div class="p_detail detailSet mobile">如果是传统的仪式，选择古典而盛大的礼服一定没错；如果在乡村或...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130241.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130241.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240061s.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240061s.png" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130241.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130241.html" target="_self">2017春夏新款韩版...</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130241.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130241.html" target="_self">2017春夏新款韩版...</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130241.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130241.html" target="_self">2017春夏新款韩版...</a></div>
                          <div class="p_detail detailSet pc">如果年轻的女士你被邀请参加一场晚会，那你会穿什么呢？没错，答案就是晚礼服。</div>
                          <div class="p_detail detailSet pad">如果年轻的女士你被邀请参加一场晚会，那你会穿什么呢？没错，答案就是晚礼...</div>
                          <div class="p_detail detailSet mobile">如果年轻的女士你被邀请参加一场晚会，那你会穿什么呢？没错，答...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130240.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130240.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240075s.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240075s.jpg" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130240.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130240.html" target="_self">果味棒棒糖</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130240.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130240.html" target="_self">果味棒棒糖</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130240.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130240.html" target="_self">果味棒棒糖</a></div>
                          <div class="p_detail detailSet pc">这样时间会比较充裕。因为设计制作一件婚纱大概需要2-4个月，而且最好能在婚礼前2个月送达你的...</div>
                          <div class="p_detail detailSet pad">这样时间会比较充裕。因为设计制作一件婚纱大概需要2-4个月，而且最好能...</div>
                          <div class="p_detail detailSet mobile">这样时间会比较充裕。因为设计制作一件婚纱大概需要2-4个月，...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130239.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130239.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240062s.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240062s.png" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130239.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130239.html" target="_self">男装宴会帅气皮靴</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130239.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130239.html" target="_self">男装宴会帅气皮靴</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130239.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130239.html" target="_self">男装宴会帅气皮靴</a></div>
                          <div class="p_detail detailSet pc">定制晚礼服是一件很重要的事，庄重而正式的它以作为隆重场合上主要的服饰角色，对穿着者起着至高无...</div>
                          <div class="p_detail detailSet pad">定制晚礼服是一件很重要的事，庄重而正式的它以作为隆重场合上主要的服饰角...</div>
                          <div class="p_detail detailSet mobile">定制晚礼服是一件很重要的事，庄重而正式的它以作为隆重场合上主...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130238.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130238.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240063s.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240063s.png" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130238.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130238.html" target="_self">型男婚宴领带</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130238.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130238.html" target="_self">型男婚宴领带</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130238.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130238.html" target="_self">型男婚宴领带</a></div>
                          <div class="p_detail detailSet pc">然而它是又根据不同的场所而划分。面对着多种多样的晚礼服，你是否已经束手无策了。</div>
                          <div class="p_detail detailSet pad">然而它是又根据不同的场所而划分。面对着多种多样的晚礼服，你是否已经束手...</div>
                          <div class="p_detail detailSet mobile">然而它是又根据不同的场所而划分。面对着多种多样的晚礼服，你是...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130237.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130237.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240064s.png" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240064s.png" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130237.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130237.html" target="_self">艳红性感高跟鞋</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130237.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130237.html" target="_self">艳红性感高跟鞋</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130237.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130237.html" target="_self">艳红性感高跟鞋</a></div>
                          <div class="p_detail detailSet pc">挑选礼服前，你必须确定婚礼的季节、准确时间、地点和风格。礼服要与婚礼的风格协调一致。</div>
                          <div class="p_detail detailSet pad">挑选礼服前，你必须确定婚礼的季节、准确时间、地点和风格。礼服要与婚礼的...</div>
                          <div class="p_detail detailSet mobile">挑选礼服前，你必须确定婚礼的季节、准确时间、地点和风格。礼服...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130252.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130252.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240069s.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240069s.jpg" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130252.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130252.html" target="_self">珍珠白银项链</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130252.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130252.html" target="_self">珍珠白银项链</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130252.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130252.html" target="_self">珍珠白银项链</a></div>
                          <div class="p_detail detailSet pc">婚纱可是新娘婚礼当天身份的象征哦，所以新娘一定要重视起来，可别因为麻烦就随便了事哦，新人在选...</div>
                          <div class="p_detail detailSet pad">婚纱可是新娘婚礼当天身份的象征哦，所以新娘一定要重视起来，可别因为麻烦...</div>
                          <div class="p_detail detailSet mobile">婚纱可是新娘婚礼当天身份的象征哦，所以新娘一定要重视起来，可...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="prod_Item modSet">
                  <div class="relative">
                    <!-- 产品图片 -->
                    <div class="prodImg_box imgSet">
                      <div class="prod_img">
                        <a href="productDetail_130251.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130251.html" target="_self">
                          <img class="pro_img horizontal" src="__PUBLIC__/Home/img/upimages/pkgimg/prodimg/201705/prod_240076s.jpg" tppabs="http://demo.nicebox.cn/7543019a292ad748/img/upimages/pkgimg/prodimg/201705/prod_240076s.jpg" /></a>
                      </div>
                      <div class="dummy" style="margin-top:100%"></div>
                    </div>
                    <!-- 内容 -->
                    <div class="prod_info twoBgSet">
                      <div class="prod_content">
                        <div class="prod_center">
                          <div class="p_name titleSet pc">
                            <a href="productDetail_130251.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130251.html" target="_self">星空棒棒糖</a></div>
                          <div class="p_name titleSet pad">
                            <a href="productDetail_130251.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130251.html" target="_self">星空棒棒糖</a></div>
                          <div class="p_name titleSet mobile">
                            <a href="productDetail_130251.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/productDetail_130251.html" target="_self">星空棒棒糖</a></div>
                          <div class="p_detail detailSet pc">创意星空手工棒棒糖10支礼盒装零食球喜糖果男送女友生日表白礼物</div>
                          <div class="p_detail detailSet pad">创意星空手工棒棒糖10支礼盒装零食球喜糖果男送女友生日表白礼物</div>
                          <div class="p_detail detailSet mobile">创意星空手工棒棒糖10支礼盒装零食球喜糖果男送女友生日表白礼...</div>
                          <div class="p_line"></div>
                          <!-- <div class="p_line"></div> -->
                          <div class="p_line"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <div class="page_btn">
                <a class="paging cur" href="javascript:;">1</a>
                <a class="paging" href="ourService_P_2.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/ourService_P_2.html">2</a>
                <a class="next_btn" href="ourService_P_2.html" tppabs="http://demo.nicebox.cn/7543019a292ad748/ourService_P_2.html">></a></div>
            </div>
            <script>$(function() {
                var viewid = "productList_style_07_1493868841245";
                var sys_url = "viewid=productList_style_07_1493868841245&name=productList&style=style_07&langid=0&pageid=64190&viewCtrl=default&isfb=1";
                var moreParams = '';
                if (typeof(history.pushState) != 'undefined') {
                  var hstate = JSON.stringify(history.state);
                  if (hstate != 'null' && hstate != null) {
                    eval('var hjson = ' + hstate);
                    moreParams = hjson.moreParamsproductList_style_07_1493868841245;
                  }
                }
                RequestURL(viewid, sys_url, moreParams);
              })</script>
            <script type="text/javascript">if (typeof addcart !== 'function') {
                function addcart(pid) {
                  if (is_mobile()) {
                    var locationUrl = "http://s143js.nicebox.cn/exusers/u_cart.php?idweb=506&lang=0&pid=" + pid + "&act=add&ismobile=1";
                    window.location = locationUrl;
                  } else {
                    document.getElementById("boxName").innerHTML = "";
                    if (document.getElementById("boxClose")) document.getElementById("boxClose").innerHTML = "×";
                    document.getElementById("showiframe").src = "http://s143js.nicebox.cn/exusers/u_cart.php?idweb=506&pid=" + pid + "&act=add&lang=0&ispc=1";
                    box.Show({
                      width: "840px",
                      height: "420px"
                    });
                  }
                }
              }
              $(function() { //有客户需求，点击分页之后回到顶部
                $(".paging").click(function() {
                  scrollTo(0, 0);
                })
              }) function is_mobile() {
                return window.screen.width < 767 || ($('body').width() > 0 && $('body').width() < 767);
              }</script>
          </div>
        </div>
      </div>
    </div>
    <div id="layout_1493792090532" class="layout  none" data-wow-duration='0s' data-wow-delay='0s' data-wow-offset='0' data-wow-iteration='1'>
      <div class="view_contents"></div>
    </div>
</block>

