<extend name="Public/base" />
<block name="main">
<div style="margin: 15px;">
    <blockquote class="layui-elem-quote">
        <div class="layui-btn layui-btn-small add">
            <i class="fa fa-plus"></i>&nbsp;&nbsp;添加友链
        </div>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>友情链接</legend>
        <div class="layui-field-box table-responsive">
            <table class="layui-table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>链接名称</th>
                    <th>链接URL</th>
                    <th>添加时间</th>
                    <th>排序</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <!--内容容器-->
                <tbody id="con">
                <volist name="link" id="v">
                <tr class="a_{$v.link_id}">
                    <td>{$v.link_id}</td>
                    <td>{$v.link_name}</td>
                    <td><a href="{$v.link_url}" target="_blank">{$v.link_url}</a></td>
                    <td>{:date('Y-m-d H:i:s',$v['addtime'])}</td>
                    <td>{$v.link_sort}</td>
                    <td>
                        <if condition='$v["status"] eq 1'>
                        <a class="red" href="javascript:;" onclick="return stateyes('{$v.link_id}');" title="已开启">
                            <div id="zt{$v.link_id}">
                                <button class="layui-btn layui-btn-warm layui-btn-mini">状态开启</button>
                            </div>
                        </a>
                        <else/>
                        <a class="red" href="javascript:;" onclick="return stateyes('{$v.link_id}');" title="已禁用">
                            <div id="zt{$v.link_id}">
                                <button class="layui-btn layui-btn-danger layui-btn-mini">状态禁用</button>
                            </div>
                        </a>
                        </if>
                    </td>
                    <td>
                        <span data-id="{$v.link_id}" class="layui-btn layui-btn-mini edit">编辑</span>
                        <span onclick="return del('{$v.link_id}')" class="layui-btn layui-btn-mini layui-btn-danger">删除</span>
                    </td>
                </tr>
                </volist>
                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </fieldset>
</div>
<script>
    layui.use(['form', 'layer','laypage'], function() {
        var form = layui.form(), layer = layui.layer;
    	laypage = layui.laypage;//分页
        //以上模块根据需要引入
        laypage({
    	        cont : $('#page'),
    	        pages : "{$count}",
    	        curr : "{$pageindex}",
    	        skip : true,
    	        jump : function(obj, first) {
    	            if (!first)
    	                window.location.href = "{:U('Link/index')}&page="+ obj.curr ;		
    	        }
    	    });
    });
    function stateyes(id) {
        $.post('{:U("linkState")}', {id: id}, function (data) {
            if (data.status) {
                if (data.info == '状态禁止') {
                    var a = '<button class="layui-btn layui-btn-danger layui-btn-mini">状态禁用</button>'
                    $('#zt' + id).html(a);
                    layer.msg(data.info, {icon: 5});
                    return false;
                } else {
                    var b = '<button class="layui-btn layui-btn-warm layui-btn-mini">状态开启</button>'
                    $('#zt' + id).html(b);
                    layer.msg(data.info, {icon: 6});
                    return false;
                }
            }
        });
        return false;
    }
    
    $('.add').on('click', function () {
        layer.open({
            type: 2,
            area: ['60%', '60%'],
            maxmin: true,
            content: "{:U('add')}",
        });
    });
    
    $('.edit').on('click', function () {
        var id = $(this).attr("data-id");
    	layer.open({
            type: 2,
            area: ['60%', '60%'],
            maxmin: true,
            content: "{:U('Admin/Link/edit/id/" + id + "')}",
        });
    }); 

    function del(id) {
        layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            //layer.close(index);
            //window.location.href = "{:U('del')}?id=" + id;
            $.ajax({
                type: "POST",
                url: '{:U("del")}',
                data: {id:id},
                success: function(msg){
                    if( msg.code == 1 ){
                        //parent.location.reload();
                        $(".a_"+id).remove();
                        layer.close(index);
                    }else{
                        parent.layer.msg(msg.msg, {
                            icon: 5,
                            shade: [0.6, '#393D49'],
                            time:1500
                        });
                    }
                }
            });
        });
    }
</script>
</block>