<extend name="Public/base" />
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>菜单管理 - {:(isset($detail['pid'])?'编辑':'新增')}菜单</legend>
        <div class="layui-field-box">
            <form class="layui-form" action="">
                <if condition="isset($detail['pid'])">
                    <input type="hidden" name="pid" value="{$detail['pid']}">
                </if>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 菜单名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required value="{:(isset($detail['title'])?$detail['title']:'')}" lay-verify="required" placeholder="请输入菜单名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 父级菜单</label>
                    <div class="layui-input-block">
                        <select name="parentid" lay-verify="">
                            <option value="0">顶级菜单</option>
                            <volist name="options" id="vo">
                                <option value="{$vo.pid}" {:($detail['pid'] == $vo['pid']?'disabled':'')}{:($parentid == $vo['pid']?'selected':'')}{:($detail['parentid'] == $vo['pid']?'selected':'')}>{$vo['showName']}{$vo['title']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 是否显示</label>
                    <div class="layui-input-block">
                        <input type="checkbox" style="width:50px" name="is_display" lay-skin="switch" lay-text="是|否" {:((isset($detail['is_display']) && $detail['is_display']==0)?'':'checked')}>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">菜单URL</label>
                    <div class="layui-input-block">
                        <input type="text" name="href" value="{:(isset($detail['href'])?$detail['href']:'')}" placeholder="请输入菜单URL 例:Admin/Index/index" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">菜单排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="displayorder" value="{:(isset($detail['displayorder'])?$detail['displayorder']:'')}" placeholder="请输入正整数，越大排名越靠前" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">菜单图标</label>
                    <div class="layui-input-inline">
                        <input type="text" name="icon" placeholder="请选择图标" value="{:(isset($detail['icon'])?$detail['icon']:'')}"  class="icon layui-input">
                    </div>
                    <div class="layui-input-inline">
                    	<span class="tub layui-btn layui-btn-small">选择layui图标</span>
                    </div>
                    <div class="layui-input-inline">
                    	<span class="tub2 layui-btn layui-btn-small">选择fontawesome图标</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                        <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
<script>
layui.use(['layer'], function() {
    $('.tub').on('click', function () {
        layer.open({
            type: 2,
            area: ['100%', '100%'],
            maxmin: true,
            content: '{:U("tub")}'
        });
    });
    $('.tub2').on('click', function () {
        layer.open({
            type: 2,
            area: ['100%', '100%'],
            maxmin: true,
            content: '{:U("tub2")}'
        });
    });
}); 

function tubiao1(icon){
    $(".icon").val("&#"+icon+";");
}

function tubiao2(icon){
    $(".icon").val(icon);
}

</script>
    <if condition="isset($detail['pid'])">
        <script>
            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(admin-form)', function(data){
                	//console.log(data);return;
                    $.ajax({
                        type: "POST",
                        url: '{:U("edit")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
        </script>
        <else />
        <script>
            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(admin-form)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:U("add")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
        </script>
    </if>
</block>